/*Agragado por Manuel*/
@font-face {
    font-family: SourceSansPro;
    src: 'https://fonts.google.com/specimen/Source+Sans+Pro';
    font-size: 16px;
}
html {
    font-family: SourceSansPro;
}
body{
    background-color: #f9f9f9;
}

h2{
    margin: 0 12px;
}

p{
    margin: 0 6px;
}

p{
    margin: 0px;
}
img{
    border-radius: 0.5rem;
}

.post{
    margin: auto;
    width: 600px;
    background-color: white;
    border-color: #eee;
    border-radius: 1rem;
    /*Agregado por Manuel*/
    font-size: 1.3rem;
    font-weight: semibold (600);
    color: #666;
}

.post-header{
    padding: 20px 22px 12px;
    border-bottom: 2px solid #eee;
    /*Agragado por Manuel*/
    font-size: 1.1rem;
    font-weight: semibold (600);
}

/*Agragado por Manuel*/
.position-name{
    color: #033d99;
    font-weight: semibold (600);
}

/*Agragado por Manuel*/
.post-time {
    color: #666;
}

.header-author{
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0px
}


.position-name{
    color: #033d99;
    font-weight: 600;
}

.post-time{
    color: #666;
}

.post-picture{
    margin-top: 22px;
    padding: 0 22px;
}

.post-title{
    font-size: 1.3rem;
    font-weight: 600;
}

.post-text{
    color: #666;
}

.post-description{
    padding: 12px 22px;
    border-bottom: 2px solid #eee;
}

.post-sharing{

    padding: 0px 22px 10px;
    margin-top: 10px;
    /*Agregado por Manuel*/
    color: #666;
}

